// =========================
//          MIXINS
// ========================


// Flexbox


@mixin flexify(
  $disp : flex,
  $dir  : null,
  $just : null,
  $wrap : null) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    flex-wrap: $wrap;
  };


  // Media Queries

@mixin mq($break) {
  @if $break == "small" {
    @media(min-width: $brkpoint-sm) {
      @content;
    }
  }

  @else if $break == "medium" {
    @media(min-width: $brkpoint-md + 1) {
      @content;
    }
  }

  @else if $break == "large" {
    @media(min-width: $brkpoint-lg) {
      @content;
    }
  }

  @else {
    @error "'#{$break}' is not a valid entry."
  }
};

// BEM Selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
};

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
};

// Format Text

@mixin text($size: $base__font-size, $weight: null, $l-height: $base__line, $color: $color-text) {
  font-size: $size;
  font-weight: $weight;
  line-height: $l-height;
  color: $color;
};
