// ===================================
//          GLOBAL CONFIG
// ===================================


// Colors

$white            : #fff;
$black            : #0b0b0b;
$grey             : #797e83;
$eastern-blue     : #1B98C2;
$porcelain        : #E6EBED;
$scandal          : #C5FAD9;
$salem            : #119E45;
$parsley          : #0E3F20;

// Color Usage

$color-primary    : $parsley;
$color-secondary  : lighten($scandal, 5%);
$color-text       : lighten($grey, 12%);
$color-link       : $salem;


// Color Palette Modifiers

$palettes: (
  grey: (
    xx-light: lighten($grey, 43%),
    x-light : lighten($grey, 35%),
    light   : lighten($grey, 12%),
    base    : $grey,
    dark    : darken($grey, 8%),
    x-dark  : darken($grey, 16%)
  ),
  black: (
    light   : lighten($black, 10%),
    base    : $black,
    dark    : darken($black, 10%)
  )
);

// Font Stacks

$font-url--google         : 'https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700';

$font-family--primary     : 'Nanum Gothic','Helvetica Neue', Helvetica, Arial, sans-serif;

//Font Weights

$font-weight--light : 300;
$font-weight--bold  : 700;

// Text

$base__font-size : 20px;
$base__line: 1.2;
$letter-space: 1px;

// Breakpoints
$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;

// Border Radius

$br-default   : .4em;


// Margins

$marg-xx-sm     : 6px;
$marg-x-sm      : 15px;
$marg-sm        : 30px;
$marg-md        : 50px;
$marg-lg        : 100px;
$marg-x-lg      : 200px;
$marg-xx-lg     : 250px;
