// ====================
//      TYPOGRAPHY
// ====================

p {
  line-height: $base__line;
  font-size: $base__font-size;
}

span {
  color: $color-text;

  &:hover {
    color: $parsley !important;
  }
}
