// ==============================
//          VIDEO
// ==============================

.videoWrapper {
  @include flexify($dir: column);
  @extend %centered;
  width: 95%;
  margin-top: 5%;

  video {
    @extend %centered;
    margin-top: 5%;
  }
}
