// ==============================
//          VIDEO
// ==============================

.wrapper {
  @include flexify($dir: column, $just: center);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 5%;

  video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }
}
