// ==============================
//        BASE STYLES
// ==============================


* {
  box-sizing: border-box;
  font-family: $font-family--primary;
}

body {
  background-color: lighten($scandal, 5%);
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

  @include mq(medium) {
    max-width: 70%;
  }
}
