// ==============================
//        BASE STYLES
// ==============================


* {
  box-sizing: border-box;
  font-family: $font-family--primary;
}

ul {
  list-style-type: none;
}

p {
  font-size: $base__font-size;
  line-height: $base__line;
  font-weight: $font-weight--light;
  font-family: $font-family--primary;
  color: $black;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;

  @include mq(large) {
    font-size: em(22px);
  }
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: $color-secondary;
}
